<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"/>
<body class="d-flex flex-column h-100">
<div th:replace="~{fragments/navbar}">Navbar</div>
<div class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron text-center rounded col-md-12 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1>Добавление предложения</h1>
                </div>
                <form th:action="@{/offers/create}" th:method="post" th:object="${offerDTO}" class="m-md-auto w-50 pb-3">

                    <div class="mb-3">
                        <label class="form-label" for="description">Description:</label>
                        <textarea id="description" name="description" class="form-control" required></textarea>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="engine">Engine:</label>
                        <select id="engine" name="engine" class="form-control" required>
                            <option th:each="engine : ${T(com.example.coursework.enums.Engine).values()}"
                                    th:value="${engine}" th:text="${engine.name()}"></option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="imageUrl">Image URL:</label>
                        <input type="url" id="imageUrl" name="imageUrl" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="mileage">Mileage:</label>
                        <input type="number" id="mileage" name="mileage" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="price">Price:</label>
                        <input type="number" id="price" name="price" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="transmission">Transmission:</label>
                        <select id="transmission" name="transmission" class="form-control" required>
                            <option th:each="transmission : ${T(com.example.coursework.enums.Transmission).values()}"
                                    th:value="${transmission}" th:text="${transmission.name()}"></option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="year">Year:</label>
                        <input type="number" id="year" name="year" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="sellerFirstName">Seller First Name</label>
                        <input th:field="*{seller.firstName}" type="text" class="form-control" id="sellerFirstName" name="sellerFirstName"/>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="sellerLastName">Seller Last Name</label>
                        <input th:field="*{seller.lastName}" type="text" class="form-control" id="sellerLastName" name="sellerLastName"/>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="modelName">Model Name</label>
                        <input th:field="*{model.name}" type="text" class="form-control" id="modelName" name="modelName"/>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="brandName">Brand Name</label>
                        <input th:field="*{model.brand.name}" type="text" class="form-control" id="brandName" name="brandName"/>
                    </div>

                    <button type="submit" class="btn btn-secondary">Добавить предложение</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<footer th:replace="~{fragments/footer}"/>
</html>
